<ul>
	<li ng-repeat='chapter in chapters | orderBy:"title"'>
		<h2 id='{{$id}}'>{{chapter.title}}</h2>
		<p>{{chapter.summary}}</p>
		<p>
			<a href='#/chapter/{{chapter.id}}'>
				{{chapter.notes.length}}
				<ng-pluralize count='chapter.notes.length' when='{"1": "note", "other": "notes"}'>					
				</ng-pluralize>
			</a>

			<a href='#/addNote/{{chapter.id}}'>add note</a>			
		</p>
		<gb-note-list notes='chapter.notes' 
			show='chapter.id == selectedChapterId' 
			order-by='id' 
			delete-note-handler='onDelete' />
	</li>
</ul>